@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,600;0,700;1,600&display=swap');
body{
  font-family: 'Roboto Mono',
  monospace !important;
}
  

.main-col{background-color: #003264;}
/* notification */

.notification-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.notification-container.show {
  opacity: 1;
}

.notification-alert {
  /* Personalizza lo stile dell'Alert come preferisci */
  background-color: #f8f9fa;
  color: #212529;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
/* seller page */
.seller-image-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seller-image {
  width: 200px;
  max-width: 100% !important;
  height: auto !important;
  border-radius: 50%;
}

.seller-info {
  background-color: #00366b;
  padding: 20px;
}
.seller-info span{ color:white ;}
/* ad list container */
.ad-list-container {
  overflow-y: scroll;
  max-height: 700px;
}
.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #888;
}
/* side bar */

.sidebar{
  height: 100vh;
  background-color: #001f3f;
}
.link-s{color: #50c878 !important;width:auto;}
.link-s:hover{color: #65fc97 !important;}
.link-s-box:hover{background-color: #003264;}
/* dashboard */
.ad-dashboard-container{
  color: #24d15d;
  background-color: #003264;
}
.no-scroll-container{overflow-y: hidden;}

/* seller */
.seller-i-container{background-color:#001f3f ;color: #50c878;}
/* no scroll bar */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  /* Colore sfondo della track */
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Colore del thumb (l'indicatore dello scorrimento) */
}
/* tabs queue,pe */
.trasparent{background-color: #001f3f;}
.trasparent>li>button{color:white ;font-weight: bolder}
.trasparent>li>button:hover{color:#89ffb1 !important;font-weight: bolder;}
/* ad */
.ad-container{
  background-color: white;
  color: black;border:solid #001f3f 5px;
}
/* piechart */
.recharts-wrapper{
  align-self: center;
}
.pie-chart-container{
  height: fit-content !important;
  width: fit-content !important;
  background-color: rgba(255, 255, 255, 0.678) !important;
}
.pie-chart-container>h3{font-size: 25px;color: #001f3f;}
/* mainDashboard */
.dash-title{
  background-color: #001f3f;
}
.shadow-effect {
  
  /* Regola la larghezza come desiderato */

  /* Regola l'altezza come desiderato */
  /* Colore di sfondo del contenitore */
  box-shadow: 0px 10px 10px rgba(78, 78, 78, 0.445);
  /* Configura l'ombra */
  border-radius: 10px;
  /* Regola la bordatura come desiderato */
}
.scrollable-list {
  max-height: 800px !important;
  /* Altezza massima della sezione */
  overflow-y: auto !important;
  /* Scorri verticalmente quando il contenuto supera l'altezza massima */
  /* Altri stili per la sezione, come padding, sfondo, ecc. */
}
